body{
  margin: 0;
  padding: 0;
}
.firstsec{
    color: white;
    font-family: 'Finlandica', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
   .first-sec{
        color: white;
        font-family: 'Finlandica', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 80px;
        padding-top: 10%;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
   .link-button{
    display: block;
    width: fit-content;
    text-decoration: none;
    background-color: red;
    padding: 10px 40px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin: auto;
    
   }
.first-banner{
    margin: 0%;
    padding: 0%;
    min-height: 85vh;
    width: 100%;
    background-image: url(donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
  }
  .donation-ammount{
    display:flex;
    justify-content: center;
  }
  .tk{
    font-family: 'Finlandica', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: rgba(47, 79, 79, 0.808);
    font-size: 18px;
    text-align: center;
    width: 8%;
    padding: 8px;
    padding-right: 4px;
    margin: 6px;
    background-color: rgba(189, 189, 189, 0.253);
    border-radius: 4px;
  }
#select-tk{
  color: red;
  background-color: rgba(255, 0, 0, 0.13);
  border-color: red;
  border: 2px solid red;
}
.input{
 display: grid;
 justify-content: center;
}
.new-link{
  margin-right: 21px;
  margin-bottom: 20px;
 
}
form{
  margin-top: 50px;
  margin-bottom: 10px;
}
.input2{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color:rgb(0, 0, 0);
  font-size: 15px;
}
input{
  height: 45px;
}

  .second-sec{
    text-align: center;
    font-size: 50px;
    font-family: 'Finlandica', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
   
  }
  .secondsec{
    color: rgba(0, 0, 0, 0.753);
    text-align: center;
    font-weight: 80;
    margin-bottom: 5%;
  }
  .flexible-container{
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .tripple-box{
    width: 100%;
    padding: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.418);
    
  }
  #box1{
    background-color: rgba(2, 255, 255, 0.233);
    margin-left: 15%;
   
  }
  #box2{
    background-color: rgba(255, 107, 1, 0.274);
  }
  #box3{
    background-color: rgba(255, 251, 0, 0.39);
    margin-right: 15%;
  }
  .new-container{
    display: flex;
    align-content: center;
  }
  #image-add2 img{
    width: 400px;
    height: 300px;
  margin-top: 100px;
  margin-right: 120px;
  margin-left: 15px;
  box-shadow: 10px 10px 40px gray;
  }
    #image-add{
        
        margin-top: 100px;
        margin-left: 140px;
        padding-left:  50px;
        padding-right:  100px;
        padding-bottom:  80px;

    }
    h1{
        font-size: 30px;
        font-weight: 700;
    }
    #new-link2{
      margin-right: 305px;
    }
    #image-add3 img{
      width: 400px;
      height: 300px;
      margin-top: 100px;
      margin-right: 15px;
      margin-left: 120px;
      box-shadow: 10px 10px 40px gray;
    }
    #image-add4{
      margin-top: 100ox;
      margin-right: 140px;
      padding-right: 50px;
      padding-left: 100px;
      padding-bottom: 80px;
    }
    .second-sec2{
      text-align: center;
      font-size: 50px;
      font-family: 'Finlandica', sans-serif;
      font-family: 'Poppins', sans-serif;
      margin-top: 100px;
      margin-bottom: 1%;
      
    }
    .secondsec2{
      text-align: center;
      font-family: 'Finlandica', sans-serif;
    font-family: 'Poppins', sans-serif;
      color: rgba(0, 0, 0, 0.705);
      font-weight: 30;
      margin-bottom: 30px;
    }
   .email{
      height: 130px;
      width: 50%;
      margin-left: 25%;
      background-color: rgba(255, 127, 80, 0.377);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
    }
    label{
      position: relative;
    }
    #email{
      border: none;
      width: 350px;
      height: 40px;
      padding: 0 16px;
    }
    button{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: red;
      color: white;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 14px;
      border: none;
      cursor: pointer;
    }
    button:hover{
      transition: .8s;
      background-color: maroon;
    }
    footer{
      background-color: rgb(0, 0, 12);
     padding: 30px;
    }
    #footer{
      color: crimson;
      text-align: center;
      font-size: 40px;
      font-weight: 250px;
      font-family: 'Pacifico', cursive;
    }
    h4{
      color: antiquewhite;
      text-align: center;
      font-family: 'Finlandica', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: small;
    }